<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
   version="6.0">
    <listener>
        <listener-class>bts.sio.codecafe.database.InitConnexion</listener-class>
    </listener>
    <servlet>
        <servlet-name>ServletPompier</servlet-name>
        <servlet-class>bts.sio.codecafe.servlet.ServletPompier</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>ServletPompier</servlet-name>
        <url-pattern>/ServletPompier/*</url-pattern>
        <url-pattern>/ServletPompier/listerPompiers</url-pattern>
        <url-pattern>/ServletPompier/consulterPompier</url-pattern>
        <url-pattern>/ServletPompier/addPompiers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletCaserne</servlet-name>
        <servlet-class>bts.sio.codecafe.servlet.ServletCaserne</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCaserne</servlet-name>
        <url-pattern>/ServletCaserne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCaserne</servlet-name>
        <url-pattern>/ServletCaserne/lister</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletIntervention</servlet-name>
        <servlet-class>bts.sio.codecafe.servlet.ServletIntervention</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletIntervention</servlet-name>
        <url-pattern>/ServletIntervention/*</url-pattern>
        <url-pattern>/ServletIntervention/lister</url-pattern>
        <url-pattern>/ServletIntervention/consulter</url-pattern>
        <url-pattern>/ServletIntervention/ajouter</url-pattern>
        <url-pattern>/ServletIntervention/modifier</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletSituation</servlet-name>
        <servlet-class>bts.sio.codecafe.servlet.ServletSituation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSituation</servlet-name>
        <url-pattern>/ServletSituation/*</url-pattern>
        <url-pattern>/ServletSituation/lister</url-pattern>
        <url-pattern>/ServletSituation/consulter</url-pattern>
        <url-pattern>/ServletSituation/ajouter</url-pattern>
        <url-pattern>/ServletSituation/modifier</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletTypeEngin</servlet-name>
        <servlet-class>bts.sio.codecafe.servlet.ServletTypeEngin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTypeEngin</servlet-name>
        <url-pattern>/ServletTypeEngin/*</url-pattern>
        <url-pattern>/ServletTypeEngin/lister</url-pattern>
        <url-pattern>/ServletTypeEngin/consulter</url-pattern>
        <url-pattern>/ServletTypeEngin/ajouter</url-pattern>
        <url-pattern>/ServletTypeEngin/modifier</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>*.jspf</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
